<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel Ongoing Requests</title>
</head>
<body>
<h1> Which request would you like to cancel?</h1>
            {% for request in returnedRequests %}

                <div class="container-fluid">
                    <h1>
                        {{request}}
                    </h1>
                    <form action="/cancelrequest/input" method="post">
                        <button class="btn btn-dark btn-lg download-button" type="submit" name="request_id" value="{{request[0]}}">Cancel </button>
                    </form>
                </div>

            {% endfor %}
</body>
</html>