<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Reimbursement Request</title>
</head>
<body>
    <div>
          <h1>login</h1>
          <form action="http://127.0.0.1:5000/login/input" method="post">
              <input type="text" name="username" id="username" placeholder="Username">
              <br>
              <br>
              <input type="text" name="descri" id="password " placeholder="Password">
              <br>
              <input class="btn btn-dark btn-lg download-button" type="submit" value="Submit">
          </form>
    </div>
</body>
</html>