<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Reimbursement Request</title>
</head>
<body>
    <div>
          <h1>Fill out information to create new reimbursement request</h1>
          <form action="/requests/input" method="post">
              <input type="text" name="description" id="description" placeholder="Description">
              <br>
              <input type="text" name="price" id="price" placeholder="Price">
              <br>
              <input type="text" name="urgent" id="urgent" placeholder="Urgent">
              <br>
              <input class="btn btn-dark btn-lg download-button" type="submit" value="Submit">
          </form>
    </div>
</body>
</html>