<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbeard's Crew</title>
</head>
<body>
<h1>login</h1>
<form action="http://127.0.0.1:5000/login/input" method="post">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>